<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <span>&nbsp;&nbsp;&nbsp;Material in Angular 6!</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-list>
      <mat-list-item>
        <button mat-button>Item 1</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>Item 2</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>Item 3</button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="example-events">
    <span>Simple Dashboard</span>
  </mat-sidenav-content>
</mat-sidenav-container>